:root {
    --hr-bg: #d4d4d4;
    --ext-border-color: #e0e0e0;
    --bg-color: #ffffff;
    --front-color: #2e3338;
    --second-bg-color: #f2f3f5;
    --code-bg-color: #e3e3e3;
    --list-hover-color: #705dcf;
    --dropdown-hover-background: hsl(254, 50%, 88%);
    --error-color: #e93147;
}
