:root {
    --hr-bg: #3f3f3f;
    --ext-border-color: #363636;
    --bg-color: #202020;
    --front-color: #dcddde;
    --second-bg-color: #1a1a1a;
    --code-bg-color: #2a2a2a;
    --list-hover-color: #7f6df2;
    --dropdown-hover-background: hsl(254, 80%, 40%);
    --error-color: #e06c75;
}
